/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
      width: 10px
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #005ACF; 
    border-radius: 0px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #005ACF; 
  }