* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  body {
    background: #f3f8ff;
    position: relative;
    &::before { 
      content: url(./images/body-before.png);
      position: absolute;
      top: 0;
      right: 0,
    }
    &::after { 
      content: url(./images/body-after.png);
      position: absolute;
      top: 50%;
      left: 0,
    }
  }
}
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
      width: 10px
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #FFF; 
    border-radius: 0px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #005ACF; 
  }

  .css-k3a0s8-saveButton {
    padding: 5px 15px;
    font-size: 14px;
    background: #005acf;
    border-radius: 30px;
    font-size: 14px;
    color: white;
    text-decoration: none;
  }
  .mobbg-container {
    width: 600px;
    margin: auto;
    font-family: 'Open Sans';
    .tap-view-container {
      justify-content: space-evenly;
    }
    .designation {
      color: rgba(34, 90, 203, 1);
      text-align: center;
      margin-top: 8px;
    }
    .bs-profile-icons {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin-top: 20px;
      .icon-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        .img-box {
          text-align: center;
        }
        .text {
          margin-top: 15px;
          font-size: 16px;
          color: #000000;
          &.mail {
            margin-top: 23px;
          }
        }
      }
    }
    .save-btn-area {
      margin: 30px 0;
      text-align: center;
    }
    .sub-heads {
      font-size: 16px;
      font-weight: 700;
      color: rgba(34, 90, 203, 1);
      margin-bottom: 8px;
    }
    .sub-title {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.6);
      margin-bottom: 10px;
    }
  }
  .form {
    overflow: auto;
    &.payment {
      max-height: 405px;
    }
    &.checkout {
      max-height: 200px;
    }
  } 
  .mobbg-container {
    [class$="-scrollingBox"] {
      // padding-bottom:50px;
      // height: 200px;
    }
    [class$="-socialBox"] {
      // padding-bottom:50px;
    }
  }
  [class$="-bioValue"] {
    // &::before {
    //   content: "\A";
    //   white-space: pre;
    // }

    // white-space: break-spaces;
  }
  @media only screen and (max-width: 1024px) {
    .mobbg-container {
      [class$="-scrollingBox"] {
        // height: 200px;
      //padding-bottom: 0;
      }
      [class$="-socialBox"] {
        padding-bottom: 0;
      }
    }
  }
  @media only screen and (max-width: 767px) {
    body {
      &::before, &::after {
        display: none;
      }
    }
    [class$="-container"]{
      height: auto !important;
    }
    .mobbg-container {
      margin: 0;
      background-image: none;
      width: 100%;
      height: 100%;
      max-height: 100%;
      padding-top: 0;
      .tap-view-container {
        justify-content: space-between;
      }
      .bs-profile-icons {
        .icon-area {
          .img-box {
            text-align: center;
            width: 35px;
            .icon {
              width: 80%;
              // height: 100%;
              // &.icon-mail {
              //   margin-top: 5px;
              // }
            }
          }
          .text {
            font-size: 12px;
            &.mail {
              margin-top: 25px; 
            }
          }
        }
      }
      .background-container {
        border-radius: 0;
        width: 100%;
        height: 100%;
      }
      [class$="-scrollingBox"] {
        // height: calc(100vh - 335px)
      }
      [class$="-socialIcon"] {
        height: 40px;
        width: 40px;
      }
    }
    
    // .css-16otjo6-scrollingBox {
    //   height: auto !important;
    // }
  }