/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
      width: 10px
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #005ACF; 
    border-radius: 0px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #005ACF; 
  }

  .css-k3a0s8-saveButton {
    padding: 5px 15px;
    font-size: 14px;
    background: #005acf;
    border-radius: 30px;
    font-size: 14px;
    color: white;
    text-decoration: none;
  }

  @media only screen and (max-width: 767px) {
    .css-ffwcsg-container, .css-11g0njk-container {
      height: auto !important;
    }
    // .css-16otjo6-scrollingBox {
    //   height: auto !important;
    // }
  }